.stockCard {
    border: black;
    background-color: rgba(248, 247, 216, 0.7);
    margin-left: 25%;
    margin-right: 25%;
    padding: 5px;
}

#delete {
    padding: 5px;
    border-radius: 8px;
    background-color: rgb(255,255,224);
}

#currPrice {
    color: blue;
    text-decoration: none !important;
}