.App {
  text-align: center;
  background-size: absolute;
  height: 100vh;
  padding-top: 20px;
  width: 100%;
}

#searchButton {
    padding: 12px 30px;
    margin: 20px;
    border-radius: 8px;
    background-color: rgb(255,255,224);
}

#searching {
    align-items: center;
    flex-direction: column;
    background-color: rgb(7, 7, 242, 0.7);
    box-shadow: black;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 3px 3px;
}

#targetPrice, #stockName {
    width: 30%;
    padding: 10px;
    margin: 10px;
}

#stockList {
  display:inline-block;
}