.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;

}

#searchButton {
    padding: 12px 30px;
    margin: 20px;
    border-radius: 8px;}

#stockSearch {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.searching {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 75%;
}

#search {
    width: 100%;
    padding: 10px;
    font-size: 15px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.rowStocks:hover {
    background-color: #C0C0C0;
}

tr {
    padding: 20px;
}

#mainTable {
    width: 75%;
    margin: 20px;
    height: 100%;
}